.Tree_container{
    
    text-align: left;
    margin-left: 12px;
    width: 212px;

}




// .jstree-default .jstree-themeicon-custom {
//     position: relative!important;
//     left: 72px!important;
// }

// .textTree{
//     margin-left: -24px;
// }


.group_name {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    position: relative;
    left: -25px;
}

.semigroup_name1 {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    position: relative;
    left: -25px;
}
.semigroup_name {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    position: relative;
    left: -25px;
}



    .vehicle-node1 {
        width: 160px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        top: -25px;
        left: 26px;
    }

    .vehicle-icon {
        width: 20px;
        height: 20px;
    }

    .jstree-default .jstree-anchor {
        width: 228px!important;
     
    }

    .imgblock {
        margin-left: auto;
        display: flex;
   
    }

    .jstree-default>.jstree-container-ul>.jstree-node{
        padding: 4px;
    }




