h1div h1{
    color: black;

}
.h1div{
    text-align: center; 
}

.cameradiv{
    text-align: center;
    justify-content: center;
    display: flex;
}

html .o_web_client > .o_action_manager{
    overflow: auto!important;
}

video{
    width: 100%;
}

img{
    height: 395px;
    width: 100%;
    display: block;
}